on:
  push:
    branches:
      - main 

jobs:
  job-fail:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            core.setFailed('failure');
